html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(14,25,47,1) 27%, rgba(6,6,38,1) 46%, rgba(41,64,115,1) 60%, rgba(1,44,141,1) 71%, rgba(0,0,0,1) 100%);
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
  font-weight: lighter;
}
h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 32px;
  font-weight: lighter;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

p {
  text-align: left;
  font-size: 16px;
}

a {
  font-size: 28px;
}

#ig {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

#ig img {
  width:32px;
  height: 32px;
}

#background-video video{
  background-color: #000;
  width: 100%;
  padding: 0px;
  padding-top: 30px;
}

#layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 1;
  float: left;
  position: relative;
  top: 0px;
  right: 0px;
  max-width: 100%;
}

div {
  margin: 20px;
  padding: 10px;
  /*background-color: rgba(0, 0, 0, 0.288);*/
  color:#fff;
}

#landing {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

#landing video {
  width: 150%;
}

#main {
  height: 100vh;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
  margin: 0;
  padding: 0;
}

#start-button {
  align-self: center;
  display: flex;
  padding: 0;
  margin:  15px;
  background-color: rgba(255, 255, 255, 0.123);
  border-radius: 50%;
  transition: 0.3s;
}
#start-button:hover {
  
   /* background-color: #3fff00;
    
    box-shadow:
    0px 0px 10px rgba(100, 255, 0, 0.7),
    0px 0px 20px rgba(100, 255, 0, 0.75),
    0px 0px 40px rgba(100, 255, 0, 0.85),
    0px 0px 80px rgba(100, 255, 0, 0.95),
    0px 0px 100px rgba(100, 255, 0, 0.8);
    transition: 0.3s;*/
    background-color: rgb(255, 247, 141);
    
    box-shadow:
    0px 0px 10px rgba(239, 219, 0, 0.7),
    0px 0px 20px rgba(239, 219, 0, 0.75),
    0px 0px 40px rgba(239, 219, 0, 0.85),
    0px 0px 80px rgba(239, 219, 0, 0.95),
    0px 0px 100px rgba(239, 219, 0, 0.8);
    transition: 0.3s;
    
  }

#start-button a {
  height: 64px;
}

#start {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}


#logo {
  width: 256px;
  height: 256px;
}

nav {
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: 'Bebas Neue', cursive;
  font-size: 32px;
}

#nav-links {
  display: flex;
  flex-direction: column;
  
}
 #nav-links a{
  text-decoration: none;
  text-align: center;
  font-size: 28px;
  color: #fff;
  margin: 15px;
  padding: 15px;
  transition: 0.3s;
  
 }

 #nav-links p{
  text-decoration: none;
  font-size: 28px;
  color: #fff;
  margin: 15px;
  padding: 15px;
  transition: 0.3s;
 }
 
 #nav-links a:hover{
  color:#EFDB32;
  transition: 0.3s;
  font-size: 32px;
}

.button {
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin-top: 0;
  border: solid 2px;
  border-color: rgba(255, 255, 255, 0.267);
  transition: 0.3s;
}

.button a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.button:hover {
  border-color: rgb(255, 247, 141);
  background-color: rgb(0, 0, 0);
    box-shadow:
    0px 0px 10px rgba(239, 219, 0, 0.7),
    0px 0px 20px rgba(239, 219, 0, 0.75),
    0px 0px 40px rgba(239, 219, 0, 0.85),
    0px 0px 80px rgba(239, 219, 0, 0.95),
    0px 0px 100px rgba(239, 219, 0, 0.8);
    transition: 0.3s;
}


#o-nas {
  display: flex;
  flex-direction: column;
  width:100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#o-nas-text {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 8%;
  align-self: flex-start;
  background-color: rgba(0, 0, 0, 0.808);
  justify-content: flex-start;
}
#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#oferta {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: fit-content;
  width: 95vw;
  margin: 0;
  padding: 0;
}
#oferta h1 {
  padding: 11px;
  margin-bottom: 0;
  text-align: center;
}
#galeria {
  background-color: #000;
  height: max-content;
  margin: 0;
  padding: 0;
}
#galeria h1 {
  padding: 11px;
  width: 95vw;
  margin-bottom: 0;
  text-align: center;
}

#kontakt {
  padding: 0;
}

iframe {
  width: 280px;
  height: 168px;
}

.maxi-container {
  height: fit-content;
  width: 100%;
  padding-top:30px;
  margin: 0;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



#panel-container-1 {
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 95vw;
}
#panel-container-2 {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#panel-container-3 {
  display:flex;
  flex-direction: column;
  width: 80vw;
  align-content: center;
  justify-content: space-evenly;
}
.panel{
  display: flex;
  width: 60vw;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: #000;
  border-radius: 15px;
}
#panel-container-3 div.panel{
  background-color: rgba(0, 0, 0, 0);
}
.panel h3 {
  margin-bottom: 0;
  margin-top: 5px;
}
.logo {
  width: 64px;
  height: 64px;
}
.panel a {
  text-decoration: none;
  color: #fff;
}

footer {
  background-color: #000;
  width: 100%;
}

#attribution a {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: rgb(116, 115, 115);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  
  #nav-links {
    flex-direction: row;
  }
  #main {
    height: 100vh;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #landing video {
    width: 80%;
  }
  #o-nas {
    flex-direction: row;
  }
  #o-nas-text {
    width: 30vw;
    height: 100vh;
    margin: 20px;
    margin-top: -5px;
    padding-top: 4%;
  }
  #background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -10;
  }
  #background-video video{
  padding: 0;
  }
  p{
    font-size: 20px;
  }
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 25px;
  }
  #start-button{
    margin: 15%;
  }
  .button {
    margin-top: 20px;
    
  }
  .button a {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #panel-container-1 {
    flex-direction: row;
    height: 80vh;
  }

  #panel-container-1 .panel {
    height: 50%;
    padding:40px;
  }

  .panel {
    width: 20vw;
  }
  iframe {
    width: 560px;
    height: 315px;
  }
  #panel-container-3 {
    flex-direction: row;
  }
}
